<%- include("header.ejs") %>
<div class="container">
    <div class="row">
        <div class="col-9">

        </div>
        <div class="col-9">
            <%- include("header.ejs") %>
        </div>
    </div>
</div>
<%= title


<script>
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
</script>